<div id="wrapper">
  
  <div id="top-bar">
    <div id="top-bar-inner">
      <a href="/">
        <div id="logo">
        </div>
      </a>
      </div>
    </div>
  </div>
  <div id="support">
    <p class="flash">
      <%= flash[:notice] %>
    </p>
      <% form_for :message, :url => send_support_message_path, :html => { :method => :post } do |f| %>
        <fieldset>

        <p>
          Drop us a line with any questions, comments or concerns you might have about MonsterGuard.
        </p>
        <br />
        <p>
          <%= f.label :name, "Your name" %>
          <%= f.text_field :name %>
        </p>
        <p>
          <%= f.label :email, "Your email <span class='small'>*(required)</span>" %>
          <%= f.text_field :email %>
        </p>
        <p>
          <%= f.label :subject, "Nature of Inquiry <span class='small'>(comment, problem, feature request, etc..)</span>" %>
          <%= f.text_field :subject %>
        </p>
        <p>
          <%= f.label :body, "Your message" %>
          <%= f.text_area :body %>
        </p>
        <p>
          <span class='submit'>
            <%= f.submit 'Send' %>
          </span>
        </p>
        </fieldset>
      <% end %>
    </div>
    <div id="footer">
      Copyright 2010 MonsterGuard | <a href="/support">Support</a>
  </div>
  
</div>