<h1>Support</h1>

<p>
  <%= flash[:notice] %>
</p>

<p>
  Drop us a line with any questions, comments or concerns you might have about MonsterGuard.
</p>

<% form_for :message, :url => send_support_message_path, :html => { :method => :post } do |f| %>
  <p>
    <%= f.label :name, "Your name:" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email, "Your email (required):" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :subject, "Nature of Inquiry (comment, problem, feature request, etc..):" %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :body, "Your message:" %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Send' %>
  </p>
<% end %>
  
  
<p>
  <a href="/">Home</a>
</p>
